[DEFAULT]

# Turn on debugging log level.
debug = false

# The distro type of the base image.
# Possible values: centos, rhel, ubuntu, debian.
base = {{ kolla_base_distro }}

# The base distro image tag.
base_tag = {{ kolla_options[kolla_openstack_release].base_tag[kolla_base_distro] }}

# The base architecture. Default is same as host.
# Possible values: x86_64, ppc64le, aarch64.
base_arch = x86_64

# The Docker tag.
tag = {{ kolla_options[kolla_openstack_release].openstack_tag }}

# The Docker namespace name.
namespace = {{ kolla_docker_namespace }}

# Build a pre-defined set of images, see [profiles] section in config.
profile = default

# The docker registry host.
registry = {{ docker_registry }}

# Base url to OpenStack tarballs.
tarballs_base = {{ kolla_options[kolla_openstack_release].tarballs_base }}

# The method of the OpenStack install.
# Possible values: binary, source, rdo, rhos.
install_type = {{ kolla_install_type }}

# Attempt to pull a newer version of the base image.
pull = true

# OpenStack release for building kolla-toolbox.
openstack_release = {{ kolla_openstack_release }}

[profiles]

default = {{ kolla_profiles['default'] | join(',') }}
