#cloud-config

preserve_hostname: False
hostname: {{ item[0].hostname }}
fqdn: "{{ item[0].hostname }}.{{ ansible_facts['nodename'] }}"

users:
{% for user in item[0].users %}
  - name: {{ user.name }}
    ssh-authorized-keys:
      - "{{ lookup('file', user.public_key) }}"
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: {{ user.groups | join(' ') }}
    shell: /bin/bash
{% endfor %}

runcmd:
  - echo "AllowUsers {{ item[0].users |
      map(attribute='name') | join(' ') }}" >> /etc/ssh/sshd_config
  - systemctl restart ssh
