[libvirt]

{% if setup_ceph | d("no") == "yes" %}
images_rbd_pool=vms
images_type=rbd
images_rbd_ceph_conf=/etc/ceph/ceph.conf
rbd_user=cinder
rbd_secret_uuid={{ '{{ cinder_rbd_secret_uuid }}' }}
{% endif %}
